*{
  box-sizing: border-box;
}

body{
  font-family: system-ui;
  margin: 0;
  background: #f3f3f3;
}

header{
  background:#740244;
  color:white;
  padding:20px;
  text-align:center;
}

.container{
  max-width:900px;
  margin:30px auto;
  padding:10px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

label{
  font-weight:bold;
  display:block;
  margin-top:10px;
}

input, textarea{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  margin-top:15px;
  padding:12px 18px;
  background:#740244;
  color:white;
  border:0;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#740244;
}
